@import "global";

article {
    > .contents {
        color: $dark;

        h2 {
            font-size: 3em;
            font-weight: normal;
        }
        
        h3 {
            font-size: 2em;
            font-weight: normal;
        }

        ol, ul {
            padding-left: 1em;
        }
        
        li:not(:last-child) {
            margin-bottom: $spacing/2;
        }
    }
}