@import "global.scss";

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    > .top {
        display: flex;
        flex-grow: 1;
        box-sizing: border-box;
        font-size: 16px;
        background-color: $white;

        @include phone {
            flex-direction: column;
        }

        > .column {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            > .columnHeader {
                flex-shrink: 0;
                margin: 1em;
            }
        }

        > nav.column {
            text-align: right;

            > .homeLink {
                padding: $spacing 0;
                background-color: $dark;
                color: $white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 2.5em;
                font-family: "Big Shoulders Text";
                font-weight: 700;
                margin: $spacing*2 0;

                @include phone {
                    margin: 0;
                }
                
                > img {
                    height: 1em;
                    margin-right: .25em;
                }

                @include tablet {
                    > img {
                        height: 1.5em;
                    }
                    > span {
                        display: none;
                    }
                }
            }

            > ul {
                > li {
                    @include tablet-or-larger {
                        border-right: $border solid $primary;
                    }

                    @include phone {
                        height: 100%;
                        box-sizing: border-box;
                        vertical-align: bottom;
                        border-bottom: $border solid $primary;
                    }
                }
            }
        }

        > aside.column {
            @include tablet-or-smaller {
                display: none;
            }

            padding-top: $spacing*2;

            > h4 {
                margin-left: $spacing+$border;
                color: $neutral;
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            > ul {
                > li {
                    border-left: $border solid $primary;

                    > a:focus {
                        background-color: $blueWhite;
                    }
                }
            }
        }
        
        > nav.column, > aside.column {
            flex-grow: 0;
            color: $dark;

            @include desktop {
                min-width: 240px;
            }

            @include tablet-or-larger {
                position: sticky;
                top: 0;
                align-self: flex-start;
            }

            > ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                height: 100%;
                list-style-type: none;

                @include phone {
                    flex-direction: row;
                    justify-content: center;
                    box-shadow: 0 -4px 0 rgba(0, 0, 0, .1) inset;
                }

                > li {
                    box-sizing: border-box;

                    a {
                        display: block;
                        padding: $spacing/2 $spacing;

                        &:focus {
                            outline: none;
                        }

                        &:focus-within {
                            font-weight: bold;
                        }
                    }

                    .current {
                        background-color: $blueWhite;
                        font-weight: bold;
                    }
                }
            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        > nav + main {
            padding: 0 $spacing*2;
            box-sizing: border-box;

            @include tablet-or-smaller {
                padding: 0 $spacing;
            }
        }

        > main {
            min-width: 40%;
            color: $black;
            overflow-wrap: break-word;
            margin-bottom: $spacing*4;

            .contentHeader {
                text-align: center;
                padding: $spacing;
                margin-bottom: $spacing;

                @include phone {
                    margin-left: -$spacing;
                    margin-right: -$spacing;
                }

                h1 {
                    margin: $spacing;
                    font-size: 4em;
                    font-weight: normal;
                    color: $black;

                    @include phone {
                        font-size: 3em;
                    }
                }

                p {
                    font-size: 1.25em;
                    color: $dark;
                }
            }
        }
    }

    > footer {
        background-color: $black;
        color: $neutral;
        font-size: .75em;

        > .footerSections {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            line-height: 2;

            @include tablet-or-larger {
                justify-content: center;
            }

            > li {
                min-width: 180px;
                flex-shrink: 1;
                padding: 2em;
                box-sizing: border-box;

                @include tablet-or-larger {
                    max-width: 25%;
                }

                > h3 {
                    text-transform: uppercase;
                    margin-top: 0;
                    color: $blueWhite;
                }

                > p {
                    display: inline-block;
                    margin-top: 0;
                }

                > .footerLinks {
                    margin: 0;
                    padding-left: 1em;

                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
}

.contentSummaryList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        border-left: $border solid $primary;
        padding-left: $spacing;

        &:not(:last-child) {
            margin-bottom: $spacing*2;
        }

        > a {
            display: block;
            color: inherit;
        }

        h3 {
            font-size: 2em;
            margin-top: 0;
        }
    }
}

.coming-soon {
    color: $neutral !important;

    &::after {
        content: " 🔜︎";
    }
}