@import "global";

.Term {

    h3 {
        margin-top: $spacing*2;
        font-size: 1.5em;
        font-weight: bold;
        color: $black;
    }
    
    .aka {
        font-size: .75em;
        font-style: italic;
        color: $neutral;
        margin-top: -$spacing/2;
    }

    p {
        color: $dark;
    }

    .trivia {
        background-color: $offWhite;

        :first-child {
            padding-top: $spacing;
        }
        :last-child {
            padding-bottom: $spacing;
        }

        h4 {
            padding-top: $spacing;
            margin-bottom: -$spacing/2;
            font-size: 1.125em;
            font-weight: bold;
            color: $secondary;
        }

        p {
            font-size: .875em;
        }
    }
}