@import "global";

.Term {

    h3 {
        margin-top: $spacing*2;
        font-size: 1.5em;
        font-weight: bold;
        color: $black;
    }
    
    .aka {
        font-size: .75em;
        font-style: italic;
        color: $neutral;
        margin-top: -$spacing/2;
    }

    p {
        color: $dark;
    }
    
}