@import "global.scss";

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    > .top {
        display: flex;
        flex-grow: 1;
        box-sizing: border-box;
        font-size: 16px;
        background-color: $white;

        > .column {
            display: flex;
            flex-direction: column;

            > .columnHeader {
                flex-shrink: 0;
                margin: 1em;
            }

            > .columnContents {
                flex-grow: 1;
            }
        }
        
        > nav.column {
            min-width: 240px;
            flex-shrink: 0;
            background-color: $offWhite;
            color: $dark;

            > .columnContents {

                > ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    box-shadow: -4px 0 0 rgba(0, 0, 0, .1) inset;

                    > li {

                        > a {
                            display: block;
                            padding: $spacing/2 $spacing;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:focus-within {
                            border-right-width: calc(#{$border}*2);  
                        }

                        .current {
                            color: $white;
                            font-weight: bold;
                        }
                    }

                    @mixin navColor($color) {
                        border-right: $border solid $color;

                        .current {
                            background-color: $color;
                        }
                    }

                    .homeLink { @include navColor($black); }
                    .newcomersLink { @include navColor($newcomersPage); }
                    .whatChangedLink { @include navColor($whatChangedPage); }
                    .improvingLink { @include navColor($improvingPage); }
                    .glossaryLink { @include navColor($glossaryPage); }
                    .songsLink { @include navColor($songsPage); }
                }
            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        > article {
            width: 100%;
            color: $black;

            > .columnContents {
                h1, h2, h3, h4, h5, h6, p {
                    margin-left: $spacing;
                    margin-right: $spacing;
                }

                .contentHeader {
                    h1 {
                        font-size: 4em;
                        font-weight: normal;
                        color: $black;
                    }

                    p {
                        font-size: 1.25em;
                        color: $dark;
                    }
                }
            }
        }
    }

    > footer {
        background-color: $black;
        color: $neutral;
        font-size: .75em;

        > .footerSections {
            display: flex;
            list-style-type: none;
            margin: 0;
            justify-content: center;

            > li {
                max-width: 25%;
                flex-shrink: 1;
                margin: 2em;

                p, ul {
                    line-height: 2;
                }

                > h3 {
                    text-transform: uppercase;
                    margin-top: 0;
                    color: mix($neutral, $white, 75%);
                }

                > p {
                    display: inline-block;
                    margin-top: 0;
                }

                > .footerLinks {
                    margin: 0;
                    padding-left: 1em;

                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
}