@import "global";

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $black;

    > .homeHeader {
        padding: 6em;
        box-sizing: border-box;
        text-align: center;
        background-color: $black;
        color: $white;

        > h1 {
            font-size: 3em;
            font-weight: normal;
            margin: 0;
        }
    }

    > .homePages {

        > ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;

            @include mobile {
                flex-direction: column;
            }

            > li {
                display: inline-block;
                padding: 3em;
                flex: 1;
                
                > a {
                    color: $white;

                    > h3 {
                        margin-top: 0;
                        font-size: 2em;
                        font-weight: normal;
                    }

                    > p {
                        margin-bottom: 0;
                    }

                }

            }

            @mixin pageLinkColor($color) {
                background-color: $color;
            }

            .homeLink { @include pageLinkColor($black); }
            .newcomersLink { @include pageLinkColor($newcomersPage); }
            .whatChangedLink { @include pageLinkColor($whatChangedPage); }
            .improvingLink { @include pageLinkColor($improvingPage); }
            .glossaryLink { @include pageLinkColor($glossaryPage); }
            .songsLink { @include pageLinkColor($songsPage); }

        }

    }

}