@import "global";

.sortSelect {
    padding: .5em;
    box-sizing: border-box;
    font-size: inherit;
    color: $dark;
    background-color: $white;
    border: $border solid mix($primary, $white, 25%);
}